<div class="container">
    <h2>Spotify music search</h2>
    <p>Song search with spotify api</p>
    <form class="form-group">
        <input [(ngModel)]="search" (keyup)="searchArtist()" class="form-control" type="search" name="search" placeholder="Search artist ...">
        <!-- <pre>{{artists | json}}</pre> -->
    </form>
    <br>
    <div class="row" *ngFor="let artist of artists">
        <div class="col">
            <br>
            <div class="card mt-3">
                <div class="card-header text-white bg-secondary">
                    <h4>{{artist.name}}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img [src]="artist.images[0].url" class="img-fluid img-thumbnail" alt="">
                        </div>
                        <div class="col-md-9">
                            <h4 class="display-3 text-primary">
                                <a routerLink="/artist/{{artist.id}}">{{artist.name}}</a>
                                </h4>
                            <p class="h2">Seguidores: {{artist.followers.total | number}}</p>
                            <p class="h5">Generos:
                                <span class="badge bg-success me-2" *ngFor="let genre of artist.genres">{{genre}}</span>
                            </p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
    
</div>
