<section class="p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <img [src]="album.images | noimage" class="img-fluid img-thumbnail" alt="">
                            </div>
                            <div class="col-md-10">
                                <h4 class="display-4">{{album.name}}</h4>
                                <p class="h4">Lanzamiento: {{album.release_date | date}}</p>
                                <button class="btn btn-outline-secondary bnt-sm text-white">atras</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let track of tracks">
                                <div class="card mt-3">
                                    <div class="card-header bg-dark text-white text-center">
                                        <p class="h5">{{track.name}}</p>
                                    </div>
                                    <div class="card-body bg-secondary text-white text-center">
                                        <!-- <p>{{track.disc_number}}</p> -->
                                        <!-- <p>{{track.duration_ms / 60000}}</p> -->
                                        <!-- <p>{{track.explicit}}</p> -->

                                        <label for="">Preview</label>
                                        <audio controls>
                                            <source [src]="track.preview_url">
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>